<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Principal<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login">Loguearse</a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Eventos</a>
          <div class="dropdown-menu" aria-labelledby="dropdown03">
            <a class="dropdown-item" routerLink="/evento_listadoCompleto">Listar Eventos</a>
          </div>
        </li>
    </ul>
  </div>
</nav>
