<!-- Footer -->
<footer class="page-footer font-small blue pt-4 text-white bg-primary">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-3 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">Cursos Online</h5>
          <p>Informacion de contactos.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Telefono</h5>
  
          <ul class="list-unstyled text-white">
            <li>
              <h6>3888-4208765</h6>
            </li>
           
          </ul>
  
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Link</h5>
  
          <ul class="list-unstyled text-white">
            <li>
              <h6>@fi.unju.edu.ar</h6>
            </li>
           
          </ul>
  
        </div>
        
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Link</h5>
  
          <ul class="list-unstyled text-white">
            <li>
              <h6>www.apusanpedro.com</h6>
            </li>
           
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
  
  </footer>
  <!-- Footer -->
