<body>
    <app-header></app-header>
    <div class="container">
    <div class="container">
        <div class="container">
            <h2 class="text-center" id="title">Completa el Formulario para empezar a Vender tus Cursos</h2>
             <hr>
            <div class="row">
                <div class="col-md-5">
                     <form role="form" class="form"  method="post">
                        <fieldset>							
                            <p class="text-uppercase pull-center">DATOS DE INSCRIPRCION</p>	
                             <div class="form-group">
                                <label for="email" class="text-info"><strong>Nombre de Usuario:</strong></label><br>
                                <input type="text" name="email" [(ngModel)]="email" id="email" class="form-control" placeholder="email">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info"><strong>Contraseña:</strong></label><br>
                                <input type="password" name="pasword" [(ngModel)]="password" id="pasword" class="form-control" placeholder="contraseña">
                            </div>
                            <a class="btn btn-lg btn-success  text-white" (click)="submitUsuario()"><strong>Enviar</strong></a>
                        </fieldset>
                    </form>
                </div>
                
                <div class="col-md-2">
                    <!-------null------>
                </div>
                
                <div class="col-md-5">
                    <img class="img-fluid rounded" src="https://vaprofesional.com/wp-content/uploads/2017/09/vende-tu-infoproducto-.jpg" alt="imagen de alumnos">
                    
                </div>
            </div>
        </div>
    </div>
    </div>
    <app-footer></app-footer>
</body>
    
