<body>
  <app-header></app-header>
 
 <div class="container">
    <section class="main">
      <section class="col-12">
            <div class="row">
              <div class="col-lg-6">
                <h2>Inscribite ya, hay cupos limitados!!!</h2>
                <div class="col-md-4">
                  <a href="{{link1}}" class="btn btn-lg btn-success btn-block text-white"><strong>Pagar</strong></a>
                </div>
                <h3>{{titulo}}</h3>
                <ul>
                  <li><strong>Titulo: {{titulo}}</strong></li>
                  <li><strong>Descripcion: {{descripcion}}</strong></li>
                  <li><strong>Precio ${{precio}}</strong></li>
                  <li><strong>Fecha de inicio: {{fecha}}</strong></li>
                  <li><strong>Duracion: {{duracion}}</strong></li>
                  <li><strong>Cupos: {{capacidad}}</strong></li>
                  <li><strong>Modalidad: {{modalidad}}</strong></li>
                </ul>
                  <p>A lo largo de casi 15 años de trayectoria, Cursos san Pedro ha desarrollado una metodología de aprendizaje virtual ..<a href="{{link1}}" class="text-white">Pagar Curso</a></p>
              </div>
              <div class="col-lg-6">
                <img class="img-fluid rounded" src="{{imagen}}" alt="imagen de curso seleccionado">
              </div>
              <div class="col-md-4">
                <a class="btn btn-lg btn-warning btn-block text-white" (click)="submitInscripcionForm()"><strong>Inscribirse</strong></a>
              </div>
            </div>
            <hr>
            <div class="row mb-4">
              <div class="col-md-8">
                <p></p>
              </div>
              <div class="col-md-4">
                <a class="btn btn-lg btn-secondary btn-block" routerLink="/evento_listadoCompleto">VOLVER A LA GALERIA</a>
              </div>
            </div>
      </section>
  </section>
</div>
<app-footer></app-footer>
</body>




  


