<body>
    

<app-header></app-header>
<div class="container">
<div class="container">
    <div class="container">
        <h2 class="text-center" id="title">Complete el Formulario para Inscribirse al Curso</h2>
         <p class="text-center">
        </p>
         <hr>
        <div class="row">
            <div class="col-md-5">
                 <form role="form" class="form"  method="post">
                    <fieldset>							
                        <p class="text-uppercase pull-center">DATOS DE INSCRIPCION</p>	
                         <div class="form-group">
                            <label for="nombre" class="text-info">nombre:</label><br>
                            <input type="text" name="nombre" [(ngModel)]="nombre" id="nombre" class="form-control" placeholder="nombre">
                         </div>
                        <div class="form-group">
                            <label for="apellido" class="text-info">apellido:</label><br>
                            <input type="text" name="apellido" [(ngModel)]="apellido" id="apellido" class="form-control" placeholder="apellido">
                        </div>
                        <div class="form-group">
                            <label for="dni" class="text-info">dni:</label><br>
                            <input type="text" name="dni" [(ngModel)]="dni" id="dni" class="form-control" placeholder="dni">
                        </div>
                    </fieldset>
                </form>
            </div>
            
            <div class="col-md-2">
                <!-------null------>
            </div>
            
            <div class="col-md-5">
                      <form role="form">
                    <fieldset>							
                        <p class="text-uppercase"></p>	
                        <div class="form-group">
                            <label for="celular" class="text-info">Celular:</label><br>
                            <input type="text" name="celular" [(ngModel)]="celular" id="celular" class="form-control" placeholder="celular">
                        </div>
                        <div class="form-group">
                            <label for="codigo_pago" class="text-info">codigo_pago:</label><br>
                            <input type="text" name="codigo_pago" [(ngModel)]="codigo_pago" id="codigo_pago" class="form-control" placeholder="codigo_pago">
                        </div>
                        <!--div class="form-group">
                            <label for="codigo_inscripcion" class="text-info">codigo_inscripcion:</label><br>
                            <input type="text" name="codigo_inscripcion" [(ngModel)]="codigo_inscripcion" id="codigo_inscripcion" class="form-control" placeholder="codigo_inscripcion">
                        </div-->
                        <!--div class="form-group">
                            <label for="eventos_id" class="text-info">eventos_id:</label><br>
                            <input type="text" name="eventos_id" [(ngModel)]="eventos_id" id="eventos_id" class="form-control" placeholder="eventos_id">
                        </div-->
                   </fieldset>
                  <div class="form-group">
                    <a class="btn btn-lg btn-success  text-white" (click)="submitInscripcion()"><strong>Enviar</strong></a>  
                  </div>
            </form>	
            </div>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer>
</body>
