
<body>
    <app-header></app-header>  
  <div class="container-fluid">
      <div class="container">
          <h2 class="text-center" id="title">Reescriba la informacion que desea modificar del curso</h2>
           <hr>
          <div class="row">
              <div class="col-md-5">
                   <form role="form" class="form"  method="post">
                      <fieldset>							
                          <p class="text-uppercase pull-center">DATOS DE EVENTO</p>	
                          <div class="form-group">
                              <label for="titulo" class="text-info">Titulo:</label><br>
                              <input type="text" name="titulo" [(ngModel)]="titulo" id="titulo" class="form-control" placeholder="titulo">
                          </div>
                          <div class="form-group">
                              <label for="descripcion" class="text-info">Descripcion:</label><br>
                              <input type="text" name="descripcion" [(ngModel)]="descripcion" id="descripcion" class="form-control" placeholder="descripcion">
                          </div>
                          <div class="form-group">
                              <label for="imagen" class="text-info">imagen:</label><br>
                              <input type="text" name="imagen" [(ngModel)]="imagen" id="imagen" class="form-control" placeholder="imagen">
                          </div>
                          <div class="form-group">
                              <label for="precio" class="text-info">Precio:</label><br>
                              <input type="text" name="precio"[(ngModel)]="precio" id="precio" placeholder="precio"class="form-control" >
                           </div>
                           <div class="form-group">
                              <label for="fecha" class="text-info">Fecha:</label><br>
                              <input type="text" name="fecha" [(ngModel)]="fecha" id="fecha" class="form-control" placeholder="fecha">
                           </div>
                           <div class="form-group">
                              <label for="duracion" class="text-info">Duracion:</label><br>
                              <input type="text" name="duracion" [(ngModel)]="duracion" id="duracion" class="form-control" placeholder="duracion">
                           </div>
                           <div class="form-group">
                              <label for="capacidad" class="text-info">Capacidad:</label><br>
                              <input type="text" name="capacidad" [(ngModel)]="capacidad" id="capacidad" class="form-control" placeholder="capacidad">
                           </div>
                           <div class="form-group">
                              <label for="modalidad" class="text-info">Modalidad:</label><br>
                              <input type="text" name="modalidad" [(ngModel)]="modalidad" id="modalidad" class="form-control" placeholder="modalidad">
                          </div>
                      </fieldset>
                  </form>
              </div>
              
              <div class="col-md-2"></div>
              
              <div class="col-md-5">
                        <form role="form">
                      <fieldset>							
                          <p class="text-uppercase"> SE MODIFICARA EL CURSO DE: </p>
                          <img class="img-fluid rounded" src="{{imagen}}" alt="imagen de curso seleccionado">
                       </fieldset>
                       <div class="form-group" style="margin-top: 40px;">
                          <input type="submit"  (click)="modificar()" name="submit" class="btn btn-success btn-lg" value="Enviar">
                      </div>
                 </form>	
              </div>
          </div>
      </div>
  </div>
  <app-footer></app-footer>
  </body>