<body>
  <app-header></app-header>
 
 <div class="container">
 <section class="main">
      <section class="col-12">
          <div class="row">
              <div class="col-lg-6">
                <h2>{{titulo}}</h2>
                <p>Detalle:</p>
                <ul>
                  <li><strong>Nombre del Curso: {{titulo}}</strong></li>
                  <li><strong>Descripcion: {{descripcion}}</strong></li>
                  <li><strong>Precio: ${{precio}}</strong></li>
                  <li><strong>Fecha de Inicio: {{fecha}}</strong></li>
                  <li><strong>Duracion: {{duracion}}</strong></li>
                  <li><strong>Cupos:{{capacidad}}</strong></li>
                  <li><strong>Modalidad: {{modalidad}}</strong></li>
                </ul>
                <p>Esta es toda la informacion del curso que publicaste,recorda que podes eliminarla o modificarla</p>
              </div>
              <div class="col-lg-6">
                <img class="img-fluid rounded" src="{{imagen}}" alt="imagen de curso seleccionado">
              </div>
              <br>
            </div>
            <div class="col-md-4">
              <a class="btn btn-lg btn-warning btn-block text-white" (click)="submitModificar()" ><strong>Modificar</strong></a>
            </div>
            <div class="col-md-4" style="margin-top: 6px;">
              <a class="btn btn-lg btn-danger btn-block text-white" (click)="eliminarEvento()" ><strong>Eliminar</strong></a>
            </div>
            <hr>
            <div class="row mb-4">
               <div class="col-md-8">
               </div>
              <div class="col-md-4">
                <a class="btn btn-lg btn-secondary btn-block" routerLink="/evento_listadoCompleto">SALIR</a>
              </div>
            </div>
      </section>
  </section>
</div>
<app-footer></app-footer>
</body>




  




