<div class="bodyy">
    <div id="login">
        <h2 class="text-center text-white pt-5">Cursos San Pedro</h2>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form"  method="post">
                            <h3 class="text-center text-info"><strong>Login</strong></h3>
                            <div class="form-group">
                                <label for="username" class="text-info"><strong>Usuario:</strong></label><br>
                                <input type="text" name="username" [(ngModel)]="email" id="username" placeholder="e-mail " class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info"><strong>Contraseña:</strong></label><br>
                                <input type="password" name="password" [(ngModel)]="password" id="password" placeholder="Password"  class="form-control">
                            </div>
                            <div class="form-group">
                                <!--label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br-->
                                <input type="submit" (click)="submit()" name="submit" class="btn btn-lg btn-success" value="Enviar">
                            </div>
                            <!--div id="register-link" class="text-right">
                                <a href="#" class="text-info">Register here</a>
                            </div-->
                        </form>
                    </div>
                </div>
         </div>
     </div>
</div>


