
<body>
    <app-header></app-header>
    <div class="container">
      <section class="row">
            <section class="col-12">
            <article>
                <p class="jumbotron text-white" style="background-color: rgb(65, 119, 236) ;"><strong>"Este sitio te ofrece la posibilidad de estudiar y trabajar de forma online, tenemos una gran variadad de cursos profesionales, actualizados y con una gran demanda en el mercado laboral actual...Si te interesa trabajar con nosotros y empezar a vender tus cursos o infoproductos, todo lo que tenes q hacer es registrarte, cargá tu contenido, personalizá tu sitio, configurá los medios de pago y empezá a vender!!!."</strong> 
            </article>
          </section>
      </section>
    <hr>
    <section class="main">
        <section class="col-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="container">
                        <h1  style="text-align-last: center;">Conoce nuestra variedad de cursos profesionales</h1>
                    </div>
                    <div class="carousel-item active">
                        <figure>
                            <figcaption style="text-align: center;color: cornsilk;"><h2></h2></figcaption>
                            <img src="https://aefmup.pt/wp-content/uploads/2020/03/diapositivo1-1.png" class=" figure-img img-fluid rounded mx-auto d-block " alt="" height="600rem" width="600rem">   
                        </figure>
                    </div>
                    <div class="carousel-item">
                        <figure>
                            <figcaption style="text-align: center;color: cornsilk;"><h2></h2></figcaption>
                            <img src="https://www.areatecnologia.com/electronica/imagenes/electronica.jpg" class=" figure-img img-fluid rounded mx-auto d-block" alt="" height="600rem" width="600rem">
                        </figure>
                    </div>
                    <div class="carousel-item">
                        <figure>
                            <figcaption style="text-align: center;color: cornsilk;"><h2></h2></figcaption>
                            <img src="https://internetpasoapaso.com/wp-content/uploads/La-inform%C3%A1tica.jpg" class=" figure-img img-fluid rounded mx-auto d-block" alt="" height="600rem" width="600rem">
                        </figure>
                    </div>
                    <div class="carousel-item">
                      <figure>
                        <figcaption style="text-align: center;color: cornsilk;"><h2></h2></figcaption>
                          <img src="https://tomi-digital-resources.storage.googleapis.com/images/classes/resources/rsc-25371-5dcc08c6dc591.jpeg" class=" figure-img img-fluid rounded mx-auto d-block" alt="" height="600rem" width="600rem">
                      </figure>
                  </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                   </a>
                  </div>
                  <hr>
            </div>


            <div class="row">
                <div class="col-lg-6">
                  <h2>Unite a nosotros y empeza a vender!!!</h2>
                  <p><strong>Informate mas...</strong></p>
                  <ul>
                    <li><strong>Afronta nuevos desafíos</strong></li>
                    <li><strong>Aumenta tus ingresos</strong></li>
                    <li><strong>Vende tus conocientos</strong></li>
                    <li><strong>Adquirí nuevas herramientas para el mundo laboral </strong></li>
                    <li><strong>Estudia y trabaja desde tu casa</strong></li>
                  </ul>
                  <p>Una práctica accesible y rentable para quien busca incursionar en el mundo laboral online, desde el desarrollo del material hasta la primera venta…</p>
                </div>
                <div class="col-lg-6">
                  <img class="img-fluid rounded" src="https://vaprofesional.com/wp-content/uploads/2017/09/vende-tu-infoproducto-.jpg" alt="imagen de alumnos">
                </div>
              </div>
              <hr>
              <div class="row mb-4">
                <div class="col-md-8">
                  <p>Al registrarte aceptas los terminos y condiciones de la página para más información seguí el enlace</p>
                </div>
                <div class="col-md-4">
                  <a class="btn btn-lg btn-success btn-block" routerLink="/usuario_nuevo">REGISTRARSE</a>
                </div>
              </div>
        </section>
    </section>
  </div>
  <app-footer></app-footer>
</body>


