.container{
    margin-top: 50px;
    margin-block-end: 130px;
}

body{
    background:url('https://www.pixel4k.com/wp-content/uploads/2019/03/abstract-material-design-4k_1551645283.jpg');
    background-repeat:none;
    background-size:cover;
}