
<body>
  <app-header></app-header>
  <div class="container-fluid">
		<div class="container">
			<h2 class="text-center" id="title">Listado de Inscriptos</h2>
 			<hr>
			<div class="row">
				<div class="col-md-4">
 					<form role="form" method="post" action="register.php">
            <fieldset>							
							<div class="form-group">
                <label for="curso" class="text-info">Nombre del Curso:</label><br>
								<input type="text" name="titulo"  [(ngModel)]="titulo" id="titulo" class="form-control input-lg" placeholder="Curso">
							</div>	 
            </fieldset>
          </form>
      	</div>
	
			</div>
		</div>
  </div>
  <div class="container">
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">NOMBRE</th>
        <th scope="col">APELLIDO</th>
        <th scope="col">DNI</th>
        <th scope="col">CELULAR</th>
      </tr>
    </thead>
    <tbody *ngFor=" let item of inscriptos">
      <tr>
        <td>{{item.nombre}}</td>
        <td>{{item.apellido}}</td>
        <td>{{item.dni}}</td>
        <td>{{item.celular}}</td>
      </tr>
    </tbody>
  </table>
</div>
<app-footer></app-footer>
</body>


