<body>
<app-header></app-header>
    <div class="container">
      <div class="row text-center">
  
        <div class="col-lg-3 col-md-6 mb-4"*ngFor="let item of eventos ; index as i">
          <div class="card h-100">
            <img class="card-img-top img-fluid" src="{{item.imagen}}" alt="">
            <div class="card-body">
              <h4 class="card-title">{{item.titulo}}</h4>
              <h6 class="card-title">{{item.descripcion}}</h6>
              <h4 class="card-title">${{item.precio}}</h4>
            </div>
            <div class="card-body">
              <div class="form-group">
                <input type="submit" (click)="submitIndice(i)" name="submitIndice" class="btn btn-info btn-md" value="Leer mas">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
<app-footer></app-footer>  

