

<body>
<app-header></app-header>
    <div class="container">
      <header class="jumbotron my-4" style="background-color: rgb(243, 230, 41);">
        <h1 class="display-4">Bienvenido {{usuario}} esta es tu galería de cursos disponibles!!</h1>
        <div class="row mb-4">
          <div class="col-md-8">
            <p>Podes publicar los cursos que quieres vender mas toda la descripción necesaria para ayudarte a vender mejor tus infoproductos.</p>
          </div>
          <div class="col-md-4">
            <a class="btn btn-lg btn-success btn-block" (click)="submitEventoNuevo()">GENERAR UN NUEVO CURSO</a>
          </div>
        </div>
      </header><div class="container"></div>
      <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4"*ngFor="let item of eventos ; index as i">
          <div class="card h-100">
            <img class="card-img-top img fluid" src="{{item.imagen}}" alt="imagen de un curso">
            <div class="card-body">
              <h4 class="card-title">{{item.titulo}}</h4>
              <h6 class="card-title">{{item.descripcion}}</h6>
              <h4 class="card-title">${{item.precio}}</h4>
              <div class="form-group">
              <input type="submit" (click)="submitIndice(i)" name="submitIndice" class="btn btn-info btn-md" value="Ver Detalle">
            </div>
             <div class="form-group">
              <input type="submit" (click)="submitIndice2(i)" name="submitIndice2" class="btn btn-info btn-md" value="Listar Inscriptos">
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </body>
  <app-footer></app-footer>
 